.section2{
    display:flex;
    width:100%;
    background-color:#fff;
    .container{
        .content-perfil{
            display: flex;
            align-items: center;
            width: 50%;            
        }
        .perfil{
            clip-path: circle(50%);
            width: 350px;
            height: 350px;
        }
        .aboutme{
            width: 50%;
            h2{
                font-size: 42px;
                font-family: 'DM Sans',sans-serif;
                font-weight: 700;
            }
            p{
                font-size: 17px;
                line-height: 2.2;
                
            }
        }
    }
}