@import 'logoAnimado.scss';
@import 'navbar.scss';
@import 'header.scss';
@import 'mouse.scss';
@import 'section1.scss';
@import 'section2.scss';
@import 'section3.scss';
@import 'section4.scss';


body,#__next,main{
    display: flex;
    width: 100%;
    flex-direction: column;
}

body{
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow-x: hidden;
}

section{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    padding: 30px;
    .container{
        background-color: transparent;
        display: flex;
        max-width: 1200px;
        padding: 10%;
        width: 100%;
    }
}

.logoHeader{
    height: 40px;
    width: 170px !important;
}

.webs{
    border-radius: 15px;
}
.fondoOscuro{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.7);
    top: 0;
    z-index: 10;
    animation: animacionOscuro 4s linear;
}

$layout-breakpoint-small: 1023px;

@media (max-width: 1269px) {
    #fondoAnimado {
        width: auto;
        height: 100%;
    }
}